.body{
    margin: auto;
}
.header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0) 0%, 
    rgba(22, 22, 22, 0) 100%), url("../images/chocolahMainBkg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Special Elite", system-ui;
    color: #F7F7F7;
    letter-spacing: 0.02em;
    box-shadow: 0px 18px 15px -5px rgba(0, 0, 0, 0.3);
}
.titleContainer{
    margin: 5px 0px;
}
.buttonContainer{
    margin-top: 5px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.leftList{
    display: flex;
    justify-content: space-between;
    width: 35%;
    
}
.leftList a{
    font-family: "Special Elite", system-ui;
    font-size: 1.3rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 0.02em;
    padding-top: 20px;
    font-style: normal;
    color: #F7F7F7;
    margin-right: auto;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}
.leftList a:hover, .rigthList a:hover{
    opacity: 1;
  }
.logoContainer{
    padding-top: 20px;
}
.rigthList{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.rigthList a{
    font-family: "Special Elite", system-ui;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 20px;
    font-style: normal;
    color: #F7F7F7;
    margin-right: auto;
    text-decoration: none;  
    cursor: pointer; 
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}
.titleContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titulo{
    font-size: 3em;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;
}
.subTitulo{
    font-family:'Open Sans', 'arial', 'sans-serif';
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;
}
.speechCallToActionContainer,.buttonContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.lineOne{
    margin-bottom: 10px;
}
.lineTwo{
    margin-top: 0px;
}
.lineOne,.lineTwo{
    text-shadow: 2px 2px 4px #000000;
    font-family:'Open Sans', 'arial', 'sans-serif';
    letter-spacing: 2px;
    font-size: 1.3rem;
}
.button{
    border: 1px solid white;
    justify-content: center;
    background-color: transparent;
    margin: 20px 0px 50px 0px;
    border-radius: 25px;
    align-items: center;
    height: 55px;
    display: flex;
    width: 15%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    color: #ffffff;
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color: rgba(69, 107, 128, 0.5);
    transform: scale(1.02);
}
.buttonTitle{
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 0.2em;
    font-size: 1.7em;
    font-family:'Open Sans', 'arial', 'sans-serif';
    color: inherit; 
    transition: color 0.5s ease;
}
.button,.buttonTitle:hover{
    color: #ffffff;
}
.button a{
    color: #ffffff;
    text-decoration: none;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.contentTitle{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 3.5rem;
    color: #1B1B1B;
    letter-spacing: 0.02em;
}
.moreAboutOne,.moreAboutTwo{
   /*text-shadow: 2px 2px 4px #000000;*/
    font-family:'Open Sans', 'arial', 'sans-serif';
    letter-spacing: 2px;
    font-size: 1.3rem;
}
.moreAbout{
    display: flex;
    flex-direction: column;
}
.buttonContainerMoreAbout{
    display: contents;
}
.buttonMoreAbout{
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    background-color: transparent;
    margin: 20px 0px 50px 0px;
    border-radius: 25px;
    align-items: center;
    height: 55px;
    display: flex;
    width: 15%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    color: #ffffff;
    transition: background-color 0.5s ease;
}
.buttonMoreAbout:hover{
    background-color: rgba(69, 107, 128, 0.5);
    transform: scale(1.02);
}
.buttonTitleMoreAbout{
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 0.2em;
    font-size: 1.7em;
    font-family:'Open Sans', 'arial', 'sans-serif';
    color: inherit; 
    transition: color 0.5s ease;
}
.buttonMoreAbout,.buttonTitleMoreAbout:hover{
    color: #ffffff;
}
.buttonMoreAbout a{
    color: #ffffff;
    text-decoration: none;
}
.featuresProducts{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.featuresProductsTitle{
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 3.5rem;
    color: #ffffff;
    letter-spacing: 0.02em;
}
.featuresProductsTitle {
    text-align: center;
    margin-bottom: 20px; /* Ajusta el espacio entre el título y los productos */
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
}
.flex-container .grid-item {
    flex-basis: calc(33.333% - 20px); /* Cada item ocupa un tercio del espacio disponible, ajustando el gap */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; /* El texto dentro de cada item está centrado */
    margin-bottom: 20px; /* Espacio adicional al final de cada item si es necesario */
}
.imageContainerOne, .imageContainerTwo, .imageContainerThree {
    position: relative; /* Para el posicionamiento del overlay */
    width: 100%; /* Ocupan todo el ancho disponible de su contenedor padre */
}
img {
    width: 100%; /* Hace que las imágenes sean responsivas */
    height: auto; /* Mantiene la proporción de las imágenes */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5); /* Overlay semi-transparente */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
iframe {
    border: none;
    margin-top: 10px;
}
.grid-item {
    position: relative;
    width: 100%; /*Ajusta según tu diseño*/
    overflow: hidden;
}
.grid-item img {
    width: 100%;/*Asegura que la imagen cubra el contenedor*/
    transition: transform 0.5s ease, opacity 0.5s ease;/*Suaviza la transición*/
}
.grid-item .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);/*Fondo semitransparente*/
    color: white; /*Texto en blanco*/
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}
.grid-item:hover img {
    opacity: 0.5;
}
.grid-item:hover .overlay {
    transform: translateY(0);
}
.overlay h5 {
    color: #1B1B1B;
    margin: 10px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: large;
    letter-spacing: 1.5px;
}
.overlay p{
    color: #1B1B1B;
    margin: 10px;
    font-family: "Special Elite", system-ui;
    font-weight: 200;
    font-size:medium;
    letter-spacing: 1.8px;
}
iframe.facebook-like {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /*Añade una sombra blanca suave*/
    border-radius: 4px;  /*Opcional: añade bordes redondeados para un look más suavizado*/
} 
iframe.facebook-like:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 1); /*Aumenta el brillo al pasar el ratón por encima*/ 
}


