.body {
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 0) 100%), url("../images/chocolahMainBkg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Special Elite", system-ui;
    color: #F7F7F7;
    letter-spacing: 0.02em;
    box-shadow: 0px 18px 15px -5px rgba(0, 0, 0, 0.3);
}

.titleContainer {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttonContainer,
.speechCallToActionContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navBar ul {
    display: flex;
    justify-content: space-around; /* Changed to evenly space items */
    width: 100%;
}

.navBar ul a {
    font-family: "Special Elite", system-ui;
    font-size: 1.3rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 0.02em;
    color: #F7F7F7;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}

.navBar ul a:hover {
    opacity: 1;
}

.logoContainer {
    padding-top: 20px;
    flex: 0 1 auto; /* Ensure the logo adjusts as needed */
}

.titulo,
.subTitulo {
    font-size: 3em;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Open Sans', 'arial', 'sans-serif'; /* Unified font family */
}

.lineOne,
.lineTwo {
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.button,
.buttonMoreAbout {
    font-family: 'Special Elite';
    font-size: x-large;
    text-decoration: none;
    letter-spacing: 5px;
    border: 1px solid white;
    justify-content: center;
    background-color: transparent;
    margin: 20px auto; /* Centered buttons */
    border-radius: 25px;
    align-items: center;
    height: 55px;
    display: flex;
    width: 15%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.button:hover,
.buttonMoreAbout:hover {
    background-color: rgba(69, 107, 128, 0.5);
    transform: scale(1.02);
}

.button a,
.buttonMoreAbout a {
    color: #ffffff;
    text-decoration: none;
    display: block; /* Ensure link uses full button area */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contentTitle {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 3.5rem;
    color: #1B1B1B;
    letter-spacing: 0.02em;
}

.moreAbout {
    display: flex;
    flex-direction: column;
}

.featuresProducts {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.featuresProductsTitle {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 3.5rem;
    color: #ffffff;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
}

.image-container-one,
.image-container-two,
.image-container-three {
    position: relative;
    width: calc(33.333% - 20px);
    overflow: hidden;
}

.image-container-one img,
.image-container-two img,
.image-container-three img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    aspect-ratio: 16 / 15;
    display: block;
    object-fit: cover; /* Asegura que la imagen cubra completamente el área sin distorsionarse */
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-container-one:hover img,
.image-container-two:hover img,
.image-container-three:hover img {
    transform: scale(1.05);
}

.image-container-one:hover .overlay,
.image-container-two:hover .overlay,
.image-container-three:hover .overlay {
    transform: translateY(0);
}

@media (max-width: 768px) {
    .navBar ul {
        flex-direction: column;
        align-items: center;
    }

    .button, .buttonMoreAbout {
        width: 50%; /* Adjust button width for smaller screens */
    }
}
